<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ruas de Comércio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ruas de Comércio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Ruas", "Index", "Rua")</li>
                    <li>@Html.ActionLink("Lojas", "Index", "Loja")</li>
                    <li>@Html.ActionLink("Bairros", "Index", "Bairro")</li>
                    <li>@Html.ActionLink("Tipos de Comércio", "Index", "TipoComercio")</li>
                    <li>@Html.ActionLink("Categoria de Produtos", "Index", "CategoriaProduto")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color:#eee;" class="page-footer font-small">
            <div class="footer-copyright text-center py-3">
                © @DateTime.Now.Year Copyright - Ruas de Comércio <br />
                IFSP
            </div>
        </footer>
            
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
