@model SeminarioLP3.Models.Rua


@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Rua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoComercio.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoComercio.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdRua }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
