@model IEnumerable<SeminarioLP3.Models.Loja>

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeComercial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLoja }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdLoja }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdLoja })
        </td>
    </tr>
}

</table>
