@model IEnumerable<SeminarioLP3.Models.Bairro>

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdBairro }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.IdBairro }) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.IdBairro })
            </td>
        </tr>
}

</table>
